/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Color Variables */
:root {
    --watermelon: #ff3b3f;
    --ink: #062f4f;
    --white: #ffffff;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

body {
    background-color: var(--ink);
}

.list-item {
  color: var(--watermelon);
}

.head {
  color: var(--white);
}