{% extends 'base.html' %}

{% block content %}

<!-- Contact form -->

<form>
    <div class="row contact">
        <div class="col">
            <input type="text" class="form-control fname" placeholder="First name" required>
        </div>
        <div class="col">
            <input type="text" class="form-control lname" placeholder="Last name" required>
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control email" id="email" aria-describedby="emailHelp" placeholder="Email" required>
    </div>
    <div class="form-group">
        <textarea class="form-control text" id="textarea" rows="10" placeholder="Leave us a message" required></textarea>
    </div>
</form>


<a href="{% url 'thanks' %}" class="delete_btn_back">Submit</a>
{% endblock %}