{% extends 'base.html' %}
{% block title %}Delete Your Posts{% endblock %}

{% block content %}


<div class="mx-5">
    <h1 class="head my-2">Delete Post</h1>
    <h3>Delete : {{ post.title }} ?</h3>

    <strong>
        <p>Are you sure would like to delete this post</p>
    </strong>
    <form method="post">
        {% csrf_token %}

        <!-- django form system -->

        <button class="btn btn-secondary">Delete Post</button>
        <br><br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>



</div>

{% endblock %}