{% extends 'base.html' %}

{% block content %}

{% for post in object_list %}
<div class="container-post">
    <a class="post-link" href="{% url 'post-detail' post.pk %}">
        <h3 class="post-title">{{ post.title }}</h3>
    </a>
    <div class="post-content">
        <ul>
            <li class="post-author">
                <p class="author-name">By: {{ post.author }}</p>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'edit_post' post.pk %}" class="edit_button_home">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="delete_button_home">Delete</a>
        {% endif %}
    </div>
</div>
{% endfor %}


{% endblock %}