{% extends 'base.html' %}

{% block content %}

{% for post in object_list %}
<div class="container-post col-6">
    <a class="post-link" href="{% url 'post-detail' post.pk %}">
        <h3 class="post-title">{{ post.title }}</h3>
    </a>
    <div class="post-content">
        <ul>
            <li class="post-author">
                <p class="author-name">By: {{ post.author|title}} <br><br>
                    {{ post.body|slice:":150" }}
                </p>
            </li>
        </ul>
        <a href="{% url 'post-detail' post.pk %}" class="continue_button">Continue</a>
        {% if user.is_authenticated %}
        {% if user.id == post.author.id%}
        <a href="{% url 'edit_post' post.pk %}" class="edit_button_home">Edit</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation container">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
</div>
{% endif %}

{% endblock %}