{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}


<div class="container-post">
    <h1 class="post-head">{{ post.title }}</h1>
    <small class="post-author-styles">By: {{ post.author }} - {{ post.created_on }}<br></small>
    <hr>
    <br>
    <p class="post-details-styles">{{ post.body|linebreaks }}</p>
</div>
<br><br>

<div class="container_buttons">
    {% if user.is_authenticated %}
    {% if user.id == post.author.id%}
    <a href="{% url 'edit_post' post.pk %}" class="likes_edit_button">Edit</a>

    <a href="{% url 'delete_post' post.pk %}" class="likes_delete_button">Delete</a>
    {% endif %}
    {% endif %}

    <a href="{% url 'home' %}" class="likes_back_button">Back</a>
</div>
<!-- https://dev.to/radualexandrub/how-to-add-like-unlike-button-to-your-django-blog-5gkg -->

{% if user.is_authenticated %}
<form action="{% url 'blogpost_like' object.id %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="heart"><i class="fas fa-heart-broken"></i></button>
    {% else %}
    <button type="submit" name="blogpost_id" value="{{object.id}}" class="heart"><i class="fas fa-heart"></i></button>
    {% endif %}
</form>
{% else %}
<a class="login-btn" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %}
<strong class="num_likes">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
{% endblock %}